body {
    background: #0b0c10;
    color: #c5c6c7;
    font-family: 'Orbitron', sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

.card {
    border-radius: 15px;
}

.progress-bar {
    font-weight: bold;
    line-height: 30px;
}
